<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:ezy="http://www.ezyplatform.com/thymeleaf/layout"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{ezytheme}">
<body>
<div layout:fragment="content">
  <section class="home" id="home">

    <div class="row-content">
        <div class="content">
          <h3>About <span>us.</span><img src="https://assets-global.website-files.com/6502d6c62228ca1ac75ca598/6502f205fc50d9f90989b4f2_portrait%20span.png"></h3>
          <p>At Education, we are committed to pushing the boundaries of what's possible</p>

          <div class="star">
              <i class="fa-solid fa-star" style="color: #63E6BE;"></i>
              <i class="fa-solid fa-star" style="color: #63E6BE;"></i>
              <i class="fa-solid fa-star" style="color: #63E6BE;"></i>
              <i class="fa-solid fa-star" style="color: #63E6BE;"></i>
              <i class="fa-solid fa-star" style="color: #63E6BE;"></i>
          </div>
            <h2>"Working with the Educa. template has been a breeze form start to finish ! "</h2>
            <div class="grid text-center">
                <div class="g-col-6">
                    <h3>100%</h3>
                    <p>Satisfaction guarantee</p>
                </div>
                <div class="g-col-6">
                    <h3>#1</h3>
                    <p>Rated agency</p>
                </div>
            </div>
        </div>
        <div class="imgage">
          <img src="/images/strelitzia plant-bro.png"/>
        </div>
    </div>
  </section>

    <section class="section">
        
    </section>

</body>
</html>