<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:ezy="http://www.ezyplatform.com/thymeleaf/layout"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{ezytheme}">
<body>
<div layout:fragment="content">
    <section class="home" id="home">
        <div class="row">
            <div class="content">
                <span>Tổng hợp khóa học lập trình tại Educa.</span>
            </div>
        </div>
    </section>
    <section class="khoa-hoc">
        <div class="root">
            <div class="grid text-center" style="--bs-columns: 18; --bs-gap: .5rem;">
                <div class="g-col-4">
                    <div class="table-content">
                        <div class="tab-search">
                            <p>Bạn đang cần tìm ?</p>
                            <input type="text" class="courses-search" placeholder="Nhập khóa học ...">
                        </div>
                        <div class="lo-trinh">
                            <p><i class="fa-solid fa-chevron-down"></i> Lộ trình học</p>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Khóa học ngắn hạn
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Khóa học dài hạn
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="dia-diem">
                            <p><i class="fa-solid fa-chevron-down"></i> Địa điểm học</p>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Đà Nẵng
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Hà Nội
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Tp. Hồ Chí Minh
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Online
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="thoi-gian">
                            <p><i class="fa-solid fa-chevron-down"></i> Thời gian học</p>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Full time
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Part time
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="doi-tuong">
                            <p><i class="fa-solid fa-chevron-down"></i> Đối tượng học học</p>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Học sinh THPT
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Lập trình viên
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Người đi làm
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Quản lý IT
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Sinh viên IT
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox"> Sinh viên non IT
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="muc-dich">
                            <p><i class="fa-solid fa-chevron-down"></i> Mục đích học</p>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox">Học lập trình,tester
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox">Luyện thi chứng chỉ
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox">Nâng cao kỹ năng
                                    </label>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox">Ứng dụng công nghệ cho công việc
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="grid-column: span 14;">
                    <div class="table-courses">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col">
                                    <div class="card" style="width: 30rem; height: 30rem">
                                        <img src="https://codegym.vn/wp-content/uploads/2024/01/java-web-fullstack.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="width: 30rem;height: 30rem">
                                        <img src="https://cdn.codegym.vn/wp-content/uploads/2024/03/Artboard-2-3.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="width: 30rem;height: 30rem">
                                        <img src="https://cdn.codegym.vn/wp-content/uploads/2024/01/game-python.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>


</body>
</html>