<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="content">
    <!--footer starts-->
    <footer class="footer">
        <section>
            <div class="share">
                <a href="https://www.facebook.com/profile.php?id=100042433725427" class="fa-brands fa-facebook"></a>
                <a href="#" class="fa-brands fa-instagram"></a>
                <a href="#" class="fa-brands fa-twitter"></a>
                <a href="#" class="fa-brands fa-youtube"></a>
                <a href="https://github.com/QuyBauTroi" class="fa-brands fa-github"></a>
            </div>
            <div class="credit">&copy; copyright @ 2023 by <span>quý bầu trời</div>
        </section>
    </footer>
    <!--footer ends-->
</footer>
</body>
</html>
