<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header" class="content">
    <section class="flex">
        <a href="#Home" class="logo">Educa.</a>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about-us">About</a>
            <a href="/course">Courses</a>
            <a href="/opening schedule">opening schedule</a>
            <a href="/blog">Blog</a>
            <a href="/contact-us">Contact</a>
        </nav>
        <div id="menu" class="fas fa-bars"></div>

    </section>
</div>
<script th:fragment="scripts" type="text/javascript">
</script>
</body>
</html>
